<a href="https://colab.research.google.com/github/rafawaltrick/Pandas/blob/main/Contadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Vamos criar uma 'Series', um acoluna, como caractéres repetidos.

In [ ]:
s = pd.Series(list('lkjlkjlkjlkjlkjlkjlkjlkjlkjl'))
s

0     l
1     k
2     j
3     l
4     k
5     j
6     l
7     k
8     j
9     l
10    k
11    j
12    l
13    k
14    j
15    l
16    k
17    j
18    l
19    k
20    j
21    l
22    k
23    j
24    l
25    k
26    j
27    l
dtype: object

# Com o método '.unique( )' conseguimos visualizar a lista de caractéres sem repetições.

In [ ]:
s.unique()

array(['l', 'k', 'j'], dtype=object)

# Com o método '.value_caunts( )', conseguimos visualizar quantas vezes cada caracter apareceu.

In [ ]:
s.value_counts()

l    10
k     9
j     9
dtype: int64

# Vamos usar esses comandos com uma DataFrame mairo.

In [ ]:
dados = pd.read_csv('/content/drive/MyDrive/Pandas/Pandas_projetos_estudos/extras/dados/aluguel.csv', sep=';')

# Pegamos a DataFrame 'dados' e selecionamos a coluna 'Tipo' e usamos o método '.unique( )' para retornar os valores únicos da variável.

In [ ]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

# O mesmo podemos fazer com o método '.value_counts( )'.

In [ ]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

# Exercício

## Suponha que estejamos testando as moedas que serão utilizadas por árbitros de futebol nas competições da Copa do Mundo. Atualmente, estas moedas são personalizadas e utilizadas em certos momentos dos jogos para decidir, na sorte, uma disputa. Nosso objetivo é verificar se as moedas que serão utilizadas nas competições não sejam viciadas.

## Para isso testes foram realizados com cinco moedas e os resultados foram os seguintes:

In [ ]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [ ]:
# Foi criada a variável 'eventos' com as 5 listas de testes das moedas em um dicionário.
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
eventos

{'m1': ['C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'c',
  'c',
  'C',
  'c'],
 'm2': ['C',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c'],
 'm3': ['C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C'],
 'm4': ['c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C'],
 'm5': ['C',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'c',
  'c',
  'c',
  'c',
  'C',
  'c']}

In [ ]:
# Foi criada a variável 'moedas' usando a variável 'eventos' para criar uma DataFrame.            
moedas = pd.DataFrame(eventos)
moedas

   m1 m2 m3 m4 m5
0   C  C  C  c  C
1   C  C  c  C  C
2   c  C  c  C  C
3   C  C  C  c  c
4   C  C  C  c  C
5   c  c  c  C  c
6   c  c  c  C  C
7   C  C  C  c  c
8   C  c  c  c  C
9   C  c  C  C  c
10  c  C  C  C  C
11  c  c  C  c  C
12  C  C  C  c  C
13  c  C  C  C  c
14  C  C  C  C  C
15  c  C  C  c  C
16  c  c  C  c  c
17  C  c  C  c  C
18  c  C  C  c  c
19  C  c  c  C  C
20  c  c  c  c  C
21  C  c  c  C  c
22  C  c  C  c  c
23  C  C  c  C  C
24  c  c  c  c  c
25  C  c  C  C  C
26  C  C  C  c  C
27  c  c  C  C  c
28  c  c  C  c  c
29  c  C  C  C  c
30  C  C  C  c  C
31  C  c  c  C  c
32  c  C  c  C  c
33  C  c  C  C  C
34  c  c  C  C  C
35  C  C  C  c  c
36  c  c  c  c  C
37  C  C  c  c  c
38  c  c  c  c  C
39  c  C  C  C  c
40  c  C  C  C  C
41  C  c  C  C  c
42  C  C  c  c  C
43  c  c  C  C  c
44  C  c  C  C  c
45  c  C  c  c  c
46  c  c  c  C  c
47  c  c  c  C  c
48  C  C  C  C  C
49  c  c  C  C  c

In [ ]:
# Foi criada outra DataFrame tendo como conteúdo a variável 'data', índice a variável 'index' e colunas a variável 'columns'. 
# Para usar a DataFrame 'moedas, foi feito um 'for' onde para cada 'item' dentro da DataFrame 'moedas', será concatenado (.concat( )), a variável 'df' e a variável 'moedas' usando o método '.value_counts()' para mostrar a frequência que aparece cada possibilidade das medas. 
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25