<a href="https://colab.research.google.com/github/rafawaltrick/Pandas/blob/main/Criando_Estrutura_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Series

# Primeiramente foi criado uma variável 'data' com uma lista. 
# Foi criada outra variável 's' com a função 'Sireis' do Pandas para tornar a lista 'data' em uma coluna de uma DataFrame.

In [2]:
data = [1, 2, 3, 4, 5]

In [3]:
s = pd.Series(data)

# O retorno da variável 's' é uma coluna, com o index padrão, de 0 a 4 e com os dados da variável 'data'.

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Por padrão o index são os números Naturais.
# Agora vamos renomear o index da forma como desejamos.

# Criada a variável 'index' onde 'linha' será concatenada com a String 'i' e 'i' está na sequência 'range(5)', ou seja, de 0 a 5.

In [5]:
index = ['linha ' + str(i) for i in range(5)]

In [6]:
index

['linha 0', 'linha 1', 'linha 2', 'linha 3', 'linha 4']

# Tornar a variável 'index' o index da 'Series' 's'.
# Na variável 's', executamos o comando 'pd.Series' com os argumentos data = a variável data e index = a variável index.

In [7]:
s = pd.Series(data = data, index = index)

In [8]:
s

linha 0    1
linha 1    2
linha 2    3
linha 3    4
linha 4    5
dtype: int64

# Outra forma de fazer é criando um 'dicionário'.
# No dicionário já se cria o index e os dados da coluna com a ideia de 'chave : valor'

In [9]:
data = {'linha ' + str(i) : i + 1 for i in range(5)}

In [10]:
data

{'linha 0': 1, 'linha 1': 2, 'linha 2': 3, 'linha 3': 4, 'linha 4': 5}

# Para criar a 'Serie' basta criar a variável chamando a função 'pd.Series' tendo como argumento a variável 'data.

In [11]:
s = pd.Series(data)

In [12]:
s

linha 0    1
linha 1    2
linha 2    3
linha 3    4
linha 4    5
dtype: int64

# Podem ser feitas operações dentro da 'Series' (colunas).

In [13]:
s1 = s + 1

In [14]:
s1

linha 0    2
linha 1    3
linha 2    4
linha 3    5
linha 4    6
dtype: int64

# Podem ser feitas operações entre 'Series' de mesmo índices.

In [15]:
s2 = s + s1

In [16]:
s2

linha 0     3
linha 1     5
linha 2     7
linha 3     9
linha 4    11
dtype: int64

# DataFrames

# Criar uma lista de listas.

In [17]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

In [18]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Criar um DataFrame simples com Pandas.
# Para isso basta usar a função 'pd.DataFrame'.

In [23]:
df1 = pd.DataFrame(data = data)

# Ela cria linhas e colunas com os números Naturais como padrão.

In [24]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# Criar nomes para as linhas.
# Variável = a um nome entre ' ' concatendo com uma variável do tipo str, essa última dentro da funcão 'range( )' tendo como argumento o número de linhas existentes na DataFrame.

In [25]:
index = ['Linha ' + str(i) for i in range(3)]

In [26]:
index

['Linha 0', 'Linha 1', 'Linha 2']

# Pagamos o DataFrame anterior e adicionamos o nome do index criado a cima.
# Para isso adicionamos mais um argumento do tipo 'chave = valor' a DataFrame.

In [27]:
df1 = pd.DataFrame(data = data, index = index)

In [28]:
df1

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

# Criando nomes para as colunas.
# É feito da mesma forma que nas linhas, só que agora adicionando o arguneto 'columns'.

In [29]:
columns = ['Coluna ' + str(i) for i in range(3)]

In [30]:
columns

['Coluna 0', 'Coluna 1', 'Coluna 2']

In [31]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [32]:
df1

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

# Criar a mesma dataFrame usando 'dicionários'.
# Criamos um dicionário com a 'chave = valor' linhas : colunas.

In [38]:
data = {'Coluna 0': {'Linha 0': 1, 'Linha 1': 4, 'Linha 2': 7},
        'Coluna 1': {'Linha 0': 2, 'Linha 1': 5, 'Linha 2': 8},
        'Coluna 2': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9}}

In [39]:
data

{'Coluna 0': {'Linha 0': 1, 'Linha 1': 4, 'Linha 2': 7},
 'Coluna 1': {'Linha 0': 2, 'Linha 1': 5, 'Linha 2': 8},
 'Coluna 2': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9}}

Vamos criar a DataFrame usando a variável a cima.

In [41]:
df2 = pd.DataFrame(data)

In [42]:
df2

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

Criando a mesma DataFrame atrvés de 'tuplas'.

In [43]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [44]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

# Criando a DataFrame da mesma forma que anteriormente.

In [45]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)

In [46]:
df3

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

# Mudando os nomes dos dados da primeira DataFrame.
# Na df1, eu quero que todos os dados da df1 maiores que 0 mudem para A.

In [47]:
df1[df1 > 0] = 'A'
df1

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A

# O mesmo será feito para as DataFrames df2 e df3.

In [48]:
df2[df2 > 0] = 'B'
df2

        Coluna 0 Coluna 1 Coluna 2
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B

In [49]:
df3[df3 > 0] = 'C'
df3

        Coluna 0 Coluna 1 Coluna 2
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

# Agora será concatenado as 3 DataFrame com a função do Pandas 'pd.concat( ), tendo como base as colunas.
# Dentro da função é colocada como argumento a lista de DataFrame.

In [52]:
df4 = pd.concat([df1, df2, df3], axis= 0)
df4

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

# Para ter as colunas como base, não há a necessídade de atribuir o argumento 'axis = 0', por padrão já será feito com base nas colunas.

In [54]:
df4 = pd.concat([df1, df2, df3])
df4

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

# Agora será feito tendo como base as linhas.

In [53]:
df4 = pd.concat([df1, df2, df3], axis= 1)
df4

,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2
Linha 0,A,A,A,B,B,B,C,C,C
Linha 1,A,A,A,B,B,B,C,C,C
Linha 2,A,A,A,B,B,B,C,C,C

In [68]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [67]:
columns

['A', 'B', 'C']

In [57]:
index

['X', 'Y']

In [58]:
dados

[[1, 2, 3], [4, 5, 6]]

In [59]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [61]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0