<a href="https://colab.research.google.com/github/rafawaltrick/Pandas/blob/main/Criando_Faixas_de_Valor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('/content/drive/MyDrive/Pandas/Pandas_projetos_estudos/extras/dados/aluguel.csv', sep = ";")
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

# criada uma classe para formar grupos com o número de quartos por imóvel.

In [ ]:
# Quantidade de quartos por imóvel.
# de 1 e 2
# de 3 e 4
# de 5 e 6 
# de 7 ou mias.

classes = [0, 2, 4, 6, 100]

# Com a função '.cut( )', podemos criar uma distribuição de frequências.
# Com a variável 'quartos' criamos, usando a DataFrame dados e a coluna Quartos, a frequência das quantidades de quartos por imóvel.

In [ ]:
quartos = pd.cut(dados.Quartos, classes)

# Onde tem parenteses, é aberto e onde tem colchetes, é fechado. 
# Sendo assim podemos ver que temos as frequências criadas representadas a baixo.

In [ ]:
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (2.0, 4.0]
            ...
19826    (0.0, 2.0]
19827    (0.0, 2.0]
19828    (0.0, 2.0]
19829    (0.0, 2.0]
19830           NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

# Usando a função 'pd.value_counts( )' é mostrado a quantidade de imóveis que tem até 2 quartos, de 3 a 4 quartos e assim por diante.

In [ ]:
pd.value_counts(quartos)

(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 100]       36
Name: Quartos, dtype: int64

# Criada a variável 'labels' para descrever as frequências, acrescentando a variável na função 'pd.cut( )'.

In [ ]:
labels = ['1 quartos', '3 e 4 quartos', '5 e 6 qurtos', '7 ou mais quartos']

In [ ]:
quartos = pd.cut(dados.Quartos, classes, labels = labels)

In [ ]:
pd.value_counts(quartos)

1 quartos            11074
3 e 4 quartos         8094
5 e 6 qurtos           470
7 ou mais quartos       36
Name: Quartos, dtype: int64

# Com o método 'include_lowest = True', é incluido na frequência os valores 0. Ou seja, os imóveis em que não foram declarado o número de quartos passa a ser contabilizado, por isso temos essa diferença da tabela de cima com a de baixo e para melhorar, teria que mudar a escrição da 'lebels'.

In [ ]:
quartos = pd.cut(dados.Quartos, classes, labels = labels, include_lowest= True)

In [ ]:
pd.value_counts(quartos)

1 quartos            11231
3 e 4 quartos         8094
5 e 6 qurtos           470
7 ou mais quartos       36
Name: Quartos, dtype: int64