<a href="https://colab.research.google.com/github/rafawaltrick/Pandas/blob/main/Interpola%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd

# Foi criada uma coluna com a variável dados 'Series(dados)'.

In [51]:
dados = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(dados)

In [52]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

# Para renomear os valores NaN da 'Series( )' 's', usamos a função '.fillna( ), que troca todos os valores NaN por 0, no caso abaixo.

In [53]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

# Podemos renomear os valores NaN, usando o metodo 'ffill', que vai usar o valor anterior para ocupar os espaços NaN.

In [54]:
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

# Com o metodo 'bfill' é feito a mesma coisa que o metodo 'ffill' mas de baixo para cima.

In [55]:
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

# podemos usar o '.fillna' integrando o método 'mean( )' para substituir os espaços NaN pela média.

In [56]:
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [57]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

# Usamos 'limit = ' para adicionar um limite ao preenchimento dos valores NaN.
# Ao criar a variável 's1', podemos preencher os valores NaN, primeiro copiando o de cima e na sequencia copiado o de baixo.

In [58]:
s1 = s.fillna(method = 'ffill', limit = 1)

In [59]:
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

# O mesmo limite pode ser usado de baixo para cima.

In [60]:
s1 = s1.fillna(method = 'bfill', limit = 1)

In [61]:
s1

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64