<a href="https://colab.research.google.com/github/rafawaltrick/Pandas/blob/main/Organizando_DataFrame(Sort).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Criada uma variável com uma lista contando 3 listas.

In [2]:
data = [[1,2,3],[4,5,6],[7,8,9]]

In [3]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Criada uma lista para ser o index da DataFrame.

In [4]:
list('123')

['1', '2', '3']

# Criada a DataFrame df tendo a variável 'data' como conteúdo, list('321') como index e list('zyx') como colunas.

In [8]:
df = pd.DataFrame(data, list('321'), list('zyx'))

In [9]:
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

# Com o método .sort_index( ), é ordenado o index da DataFrame df. E com o método inplace = True, essa ordenação já é incorporada a DataFrame.

In [10]:
df.sort_index(inplace = True)

In [11]:
df

   z  y  x
1  7  8  9
2  4  5  6
3  1  2  3

# É incorporado o método axis = 1, para ordenar as colunas também.

In [58]:
df.sort_index(inplace = True, axis =1)

In [59]:
df

   x  y  z
3  3  2  1
2  6  5  4
1  9  8  7

# Com o método .sort_value(by = 'x'), será ordenada as linhas com base na coluna 'x'.

In [60]:
df.sort_values(by = 'x', inplace = True)
df

   x  y  z
3  3  2  1
2  6  5  4
1  9  8  7

# Aqui, com o 'axis = 1', será ordenada as colunas baseada na linha 3.

In [55]:
df.sort_values(by = '3', axis=1, inplace = True)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9