<a href="https://colab.research.google.com/github/rafawaltrick/Pandas/blob/main/panadas_projeto_estudos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

<h1>O comando 'read' não entendo o separador ";" por isso o retorno ficou como está.</h1>

In [17]:
pd.read_csv('/content/drive/MyDrive/Pandas/Pandas_projetos_estudos/aluguel.csv')

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botânico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienópolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

<h1>Para saber qual é o separador padrão, aperte dentro dos parenteses as teclas "shift e tab" para ver a ajuda do 'comando'. </h1></nr><h1>nesse caso, temos que colocar após o caminho do arquivo, o argumento "sep=';'" para que o comando entenda os separadores. </h1>

In [18]:
dados =pd.read_csv('/content/drive/MyDrive/Pandas/Pandas_projetos_estudos/aluguel.csv', sep=';')

In [19]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

<h1>O tipo dessa variável é uma "DataFrame", uma tabela.</h1>

In [20]:
type(dados)

pandas.core.frame.DataFrame

In [21]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [22]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

# Esse comando "dtypes" informa o tipo de cada um dos dados.

In [24]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

# Dessa forma podemos retornar os mesmos dados anteriores no formato de tabela e dando um nome para a coluna dos dados.

In [25]:
pd.DataFrame(dados.dtypes, columns = ['Tipo de Dados'])

           Tipo de Dados
Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64

# Criada uma variável com a tabela "Tipos de Dados".

In [27]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipo de Dados'])

# Criado um nome para a coluna das váriaveis da tabela anterior.

In [28]:
tipos_de_dados.columns.name = 'Variáveis'

In [29]:
tipos_de_dados

Variáveis  Tipo de Dados
Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64

# Com "shape", retorno o número de linhas e colunas. <br/>  Com a representação [0] para linhas e [1] para colunas.

In [30]:
dados.shape

(32960, 9)

In [31]:
dados.shape[0]

32960

In [32]:
dados.shape[1]

9

# Dessa forma é retornado um texto com os dados expostos a cima.

In [33]:
print('A Base de Dados apresenta {} Registros (Imóveis) e {} Variáveis.'.format(dados.shape[0], dados.shape[1]))

A Base de Dados apresenta 32960 Registros (Imóveis) e 9 Variáveis.

# Forma de montar uma DataFrame em Python.

In [39]:

data = [['Fulano', 12, 7.0, ':)'],
        ['Sicrano', 15, 3.5, False], 
        ['Beltrano', 18, 9.3, True]]
dados = pd.DataFrame(data, 
        columns = ['Aluno', 'Idade', 'Nota', 'Aprovado'])
dados

      Aluno  Idade  Nota Aprovado
0    Fulano     12   7.0       :)
1   Sicrano     15   3.5    False
2  Beltrano     18   9.3     True