<a href="https://colab.research.google.com/github/rafawaltrick/Pandas/blob/main/Relat%C3%B3rio_de_An%C3%A1lise_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

# Identificar os dados de uma 'series', um coluna.

# Primeiro importar o arquivo com o separador usado no mesmo.

In [6]:
dados = pd.read_csv('/content/drive/MyDrive/Pandas/Pandas_projetos_estudos/aluguel.csv', sep=';')

# Retornei as 10 primeiras linhas do DataFrame.

In [7]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

# Retornar apenas a 'coluna' desejada.

In [8]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

# Se a variável tiver um nome válido em Python, poder ser executado da forma a baixo. Caso tenha espaço ou algum outro caracter inválido, se usa o camando anterior.

In [9]:
dados.Tipo

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

# Criado uma variável para essa coluna.

In [10]:
tipo_de_imovel = dados['Tipo']

# Identificar o 'tipo' dos dados dessa variável.
# Ela é do tipo 'series', é uma coluna da DataFrame.

In [11]:
# Preciso entender a nomenclatura do retorno.
type(tipo_de_imovel)

pandas.core.series.Series

# Uso de um método para retornar todos os dados da coluna sem repetições.

In [12]:
tipo_de_imovel.drop_duplicates()

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

# Com o método 'inplace', eu crio a variável já sem as duplicatas. O 'inplace' cria uma variável, apartir da execução do método.
# Por padrão, o 'inplace' está em 'False'.

In [13]:
tipo_de_imovel.drop_duplicates(inplace=True)

# A variável 'tipo_de_imovel' já foi modificada sem as duplicatas.

In [14]:
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

# Tornar essa coluna em uma DataFrame.

In [15]:

tipo_de_imovel = pd.DataFrame(tipo_de_imovel)

In [16]:
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

# O índice mostra a primeira vez que apareceu cada dado da coluna.

In [17]:
tipo_de_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

# '.shape' retorna o tamanho, a quantidade de dados.

In [19]:
tipo_de_imovel.shape[0]

22

# 'range( )' compila a partir do 0 o tamanho do objeto.
# Também pode ser compilado com o comando 'len( )' do Python.

In [20]:
range(tipo_de_imovel.shape[0])

range(0, 22)

In [30]:
len(tipo_de_imovel)

22

In [28]:
tipo_de_imovel.index = range(len(tipo_de_imovel))

In [29]:
tipo_de_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

# Para 'i' dentro do 'range(tipo_de_imovel.shape[0])', retorne 'i'.

In [21]:
for i in range(tipo_de_imovel.shape[0]):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

# Trocar o 'index' pelo 'novo' 'index' gerado pelo 'range'.
# O retorno do novo index começa pelo 0 e termina no 22.

In [22]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [23]:
tipo_de_imovel.index

RangeIndex(start=0, stop=22, step=1)

# Retorno do index alterado.

In [24]:
tipo_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

# Gerar um nome para o index da coluna.

In [26]:
tipo_de_imovel.columns.name = 'Id'

In [27]:
tipo_de_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria